//  partie droite login 
.slogan {
    font-family: serif;
    color: black;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;

}
 .Logo_image{
    width: 400px; 
    height:max-content;
    
 }
